.content-area {
  flex: 1;
  padding: 16px;
  background: #181825;
  color: 	#cdd6f4;
  height: 100%;
  overflow-y: auto;
  display: block;
}

.content-area h2 {
  line-height: 1;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}


.content-area pre {
  font-family: 'Roboto Mono', 'Courier New', monospace;
  background-color: #1e1e2e !important;
  padding: 16px;
  border: 1px solid #313244;
  border-radius: 4px;
  white-space: pre-wrap;
  margin-top: 20px;
  color: #cdd6f4 !important;
}

.content-area p {
  font-size: 16px;
  color: #cdd6f4;
}

.content-controls {
  font-family: 'Roboto Mono', monospace, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 15px;
}

.content-controls button {
  background: #89b4fa;
  color: #1e1e2e;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.content-controls button:disabled {
  background: #9399b2;
  cursor: not-allowed;
}

.content-controls button:hover:not(:disabled) {
  background: #89dceb;
}

.content-controls .toggleLyrics {
  background: #9399b2;
  color: #1e1e2e;
}
.content-controls .toggleLyricEnabled {
  background: #fab387;
  color: #1e1e2e;
}

.song-details {
  margin-top: 15px;
  line-height: 1.6;
}


.song-details h2 {
  margin-bottom: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #313244;
}

.navigation button {
  background: #89b4fa;
  color: #1e1e2e;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.navigation button:disabled {
  background: #9399b2;
  cursor: not-allowed;
}

.navigation button:hover:not(:disabled) {
  background: #89dceb;
}