.kantada {
  padding: 20px;
  margin: 0px;
  text-align: justify;
}

.kantada h3 {
  font-size: 22px;
}

.kantada p {
  padding-bottom: 20px;
}

.kantada p.text-center {
  text-align: center !important;
}

.kantada b.leader {
  color: #f38ba8;
}

.kantada b.response {
  color: #89b4fa;
}

.kantada .content-controls {
  margin-bottom: 20px;
}