/* Sidebar */
.sidebar {
  flex: 0 0 30%;
  max-width: 30%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ddd;
  overflow-y: auto;
  z-index: 10;
}

.sidebar h3 {
  font-size: 20px;
  margin-bottom: 16px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 4px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background: #f8f9fa;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar li.selected,
.sidebar li:hover {
  background-color: #007bff;
  color: white;
}

.sidebar li .song-details {
  margin: 0;
}

.sidebar h4 {
  font-size: 1.2rem;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
