/* Sidebar */
.sidebar {
  flex: 0 0 30%;
  max-width: 30%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  padding: 20px;
  background-color: #181825;
  box-shadow: 2px 0 4px rgba(108, 112, 134, 0.1);
  border-right: 1px solid #313244;
  overflow-y: auto;
  z-index: 10;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #74c7ec;
  padding-bottom: 4px;
  margin-bottom: 16px;
}

.sidebar .back-button {
  background-color: #89b4fa;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.sidebar h2 {
  font-size: 22px;
  margin: 0;
  padding: auto;
}

.sidebar p {
  font-size: 16px;
  margin: 0;
  padding-bottom: 10px;
}

.sidebar h3 {
  font-size: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background: #1e1e2e;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar li.selected,
.sidebar li:hover {
  background-color: #9399b2;
  color: #1e1e2e;
}

.sidebar li .song-details {
  margin: 0;
}

.sidebar h4 {
  font-size: 1rem;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.blinking-loader {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  animation: blink 1s infinite;
}

.loader-icon {
  margin-right: 8px;
}

@keyframes blink {
  50% {
    opacity: 0.2;
  }
}